.boids {
    background-image: url(../assets/boids.png);
}
.toptrees {
    background-image: url(../assets/toptrees.png);
}
.sorting {
    background-image: url(../assets/sorting.png);
}
.wordle {
    background-image: url(../assets/wordle.jpg);
}
.chess {
    background-image: url(../assets/chess.jpg);
}
.dtu {
    background-image: url(../assets/dtu.png);
}
.next {
    background-image: url(../assets/next.png);
}
.regex {
    background-image: url(../assets/regex.png);
}