html {
    scroll-behavior: smooth;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.theme-color {
    color: rgb(155, 122, 199);
}
.theme-background {
    background-color: rgb(155, 122, 199);
}
.no-background {
    background:none;
}



.navbar-container {
    padding: 5px;
    border-radius: 30px;
    background-color: #fff;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-item {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: #000;
}
.navbar-item.active {
    background-color: #e2e2e2;
}
.navbar-item a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

body {
    font-family: montserrat;
    margin: 0;
    
    /*overflow: hidden; /* Prevent scrollbars */
}

.alt-background {
    background-color: rgb(245, 245, 245);
}
.dark-background {
    background-color: rgb(49, 49, 49);
    color: #fff;
}
.header-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
}

.subtitle {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.cta-container {
    margin: 15px 0px;
    display: flex;
    gap: 20px;
}

.cta-button {
    padding: 10px 20px;
    border-radius: 2px;
    border: 2px solid rgb(155, 122, 199); 
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s;
    cursor:pointer;
}
.cta-button:hover {
    background-color: rgb(143, 109, 187);
}
#canvas-wrapper {
    width: 100%;
    height: 700px;

}


.content-container {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container {
    padding: 60px 15px;
    max-width: 800px;
    width: 100%;
}

.section-title {
    margin: 5px 0px;
    font-size: 40px;
    font-weight: 700;
}

.section-content {
    line-height: 1.5em;
}

.about-content {
    display: flex;
    gap: 20px;

}

.about-text {
    display: flex;
    align-items: center;
    margin-right: 30px;
    flex: 2;
}
.about-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
}
.about-img {
    display: flex;
    background: url(./assets/944.jpg);
    background-size: contain;
    flex: 1;
    border-radius: 100%;
    aspect-ratio: 1;
    max-width: 200px;
    
}

.education-card {
    margin: 20px 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}

.education-card-date {
    margin: 10px 0px;
    font-weight: 700;
    color: rgb(155, 122, 199);
}

.education-card-title {
    margin: 0px 0px;
    font-size: 20px;
    font-weight: 700;
}

.education-card-subtitle {
    color:rgb(163, 163, 163);
    font-weight: 700;
    margin: 0px 0px;
}

.education-card-content {
    margin: 10px 0px;
}
.project-content-container {
    padding: 20px;
}
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
.project-card {
    background: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.project-title {
    font-weight: 700;
    font-size: 20px;
}
.boids {
    background: url(./assets/boids.png);
}
.sorting {
    background: url(./assets/sorting.png);
}
.wordle {
    background: url(./assets/wordle.jpg);
}
.chess {
    background: url(./assets/chess.jpg);
}
.dtu {
    background: url(./assets/dtu.png);
}
.next {
    background: url(./assets/next.png);
}
.education-card-container {
    display: flex;
    align-items: center;
}
.education-card-logo {
    background-position: center;
    width: 300px;
    background-size: contain;
    aspect-ratio: 1;
    background-repeat: no-repeat;
}
.project-img {
    border-radius: 2px 2px 0px 0px;

    width: 100%;
    height: 200px;
    
    background-size: cover;
    background-position: center;
}

.contact-container {
    height: 400px;
}

/* Mobile Devices (Portrait and Landscape) */
@media only screen and (max-width: 767px) {
    .about-content {
        flex-direction: column-reverse;
    }
    .project-img {
        height: 150px;

    }
}

/* Tablets and Small Screens (Portrait and Landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets and small screens */
}

/* Desktops and Medium Screens */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /* Styles for desktops and medium screens */
}

/* Large Screens (Desktops and TVs) */
@media only screen and (min-width: 1280px) {
    /* Styles for large screens */
}